@page "{id:int}"
@model Frontend_Project.Pages.Vaerktoej.EditModel
@{

}

<div>
    <h1> Ændring af værktøj</h1>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <form method="post">
                <div class="form-group">
                    <label for="id" class="control-label">ID</label>
                    <input type="text" asp-for="LocalModel.VTId" placeholder="@Model.LocalModel.VTId" readonly="readonly"/>
                </div>
                <div class="form-group">
                    <label for="Fabrikat" class="control-label">Fabrikat</label>
                    <input type="text" asp-for="LocalModel.VTFabrikat" placeholder="@Model.LocalModel.VTFabrikat" />
                </div>
                <div class="form-group">
                    <label for="Model" class="control-label">Model</label>
                    <input type="text" asp-for="LocalModel.VTModel" placeholder="@Model.LocalModel.VTModel" />
                </div>
                <div class="form-group">
                    <label for="SerieNummer" class="control-label">SerieNummer</label>
                    <input type="number" asp-for="LocalModel.VTSerienr" placeholder="@Model.LocalModel.VTSerienr" />
                </div>
                <div class="form-group">
                    <label for="Type" class="control-label">Type</label>
                    <input type="text" asp-for="LocalModel.VTType" placeholder="@Model.LocalModel.VTType" />
                </div>
                <div class="form-group">
                    <label for="Anskaffet" class="control-label">Anskaffet</label>
                    <input type="datetime" asp-for="LocalModel.VTAnskaffet" placeholder="@Model.LocalModel.VTAnskaffet" />
                </div>
                <div class="form-group">
                    <label for="LiggerIVTK" class="control-label">Værktøjskasse ID</label>
                    <input type="text" asp-for="LocalModel.LiggerIvtk" placeholder="@Model.LocalModel.LiggerIvtk" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary shadow">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a class="btn btn-secondary" asp-page="/Vaerktoej/Details" asp-route-id="LocalModel.VTId">Tilbage</a>
    </div>
</div>