@page "{id:int}"
@model Frontend_Project.Pages.VaerktoejsKasse.DeleteModel
@{
    ViewData["Title"] = "Slet værktøjskasse";
}


<h1>Sletning</h1>

<div>
    <h4>Er du sikker på at du vil slette værktøjskassen @Model.localModel.VTKId ?</h4>
    <hr />
    <form method="post">
        <dl class="col">
            <div class="form-group">
                <label for="Model" class="control-label">Model</label>
                <input type="text" asp-for="localModel.VTKModel" placeholder="@Model.localModel.VTKModel" readonly />
            </div>
            <div class="form-group">
                <label for="Fabrikant" class="control-label">Fabrikant</label>
                <input type="text" asp-for="localModel.VTKFabrikat" placeholder="@Model.localModel.VTKFabrikat" readonly />
            </div>
            <div class="form-group">
                <label for="Farve" class="control-label">Farve</label>
                <input type="text" asp-for="localModel.VTKFarve" placeholder="@Model.localModel.VTKFarve" readonly />
            </div>
            <div class="form-group">
                <label for="Anskaffet" class="control-label">Anskaffet</label>
                <input type="datetime" asp-for="localModel.VTKAnskaffet" placeholder="@Model.localModel.VTKAnskaffet" readonly />
            </div>
            <div class="form-group">
                <label for="Serienummer" class="control-label">Serienummer</label>
                <input type="string" asp-for="localModel.VTKSerienummer" placeholder="@Model.localModel.VTKSerienummer" readonly />
            </div>
        </dl>
        
        <button class="btn btn-info" type="submit">Ja</button>
        <button class="btn btn-info" asp-page="/VaerktoejsKasse/Details" asp-route-id="@Model.localModel.VTKId">Nej</button>
    </form>
</div>
