@page "{id:int}"
@model Frontend_Project.Pages.VaerktoejsKasse.DetailsModel
@{
    ViewData["Title"] = "Detaljeret oversigt";
}

    <h1>Details</h1>

<div class="row">
    <h4>Værktøj @Model.localModel.VTKModel</h4>
    <hr />
    <div class="col col-sm col-lg col-xl col-md p-5">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>
                    Model
                </th>
                <th>
                    Fabrikant
                </th>
                <th>
                    Farve
                </th>
                <th>
                    Anskaffet
                </th>
                <th>
                    Serienummer
                </th>
                <th>
                    Ejes af
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @Model.localModel.VTKModel
                </td>
                <td>
                    @Model.localModel.VTKFabrikat </td>
                <td>
                    @Model.localModel.VTKFarve</td>
                <td>
                    @Model.localModel.VTKAnskaffet
                </td>
                <td>
                    @Model.localModel.VTKSerienummer
                </td>
                <td>
                    @Model.localModel.VTKEjesAf
                </td>
            </tr>
            
            </tbody>
        </table>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-page="/VaerktoejsKasse/Edit" asp-route-id="@Model.localModel.VTKId">Edit</a>
    <a class="btn btn-primary" asp-page="/VaerktoejsKasse/Delete" asp-route-id="@Model.localModel.VTKId">Delete</a>
    <a asp-page="/VaerktoejsKasse/Index">Back to List</a>
</div>