@page "{id:int}"
@model Frontend_Project.Pages.Haandvaerker.DetailsModel
@{
    ViewData["Title"] = "Detaljeret oversigt";
}



    <h1>Details</h1>

    <div class="row">
        <h4>Håndværkeren @Model.localModel.hvFornavn</h4>
        <hr />
    <div class="col col-sm col-lg col-xl col-md p-5">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>
                    Fornavn
                </th>
                <th>
                    Efternavn
                </th>
                <th>
                    Ansættelsesdato
                </th>
                <th>
                    Fagområde
                </th>
                <th>
                    ID
                </th>
                <th>
                    Værtktøjskasse ID
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @Model.localModel.hvFornavn
                </td>
                <td>
                    @Model.localModel.hvEfternavn </td>
                <td>
                    @Model.localModel.hvAnsaettelsedato</td>
                <td>
                    @Model.localModel.hvFagomraade
                </td>
                <td>
                    @Model.localModel.haandvaerkerId
                </td>

            </tr>
            
            </tbody>
        </table>
    </div>
    </div>
    <div>
    <a class="btn btn-info" asp-page="/Haandvaerker/Edit" asp-route-id="@Model.localModel.haandvaerkerId">Edit</a>
    <a class="btn btn-primary" asp-page="/Haandvaerker/Delete" asp-route-id="@Model.localModel.haandvaerkerId">Delete</a>
    <a asp-page="/Haandvaerker/Index">Back to List</a>
</div>