@page "{id:int}"
@model Frontend_Project.Pages.Haandvaerker.DetailsModel
@{
    ViewData["Title"] = "Detaljeret oversigt";
}
@RouteData.Values["ID"]


    <h1>Details</h1>

    <div>
        <h4>Håndværkeren @Model.localModel.HVFornavn</h4>
        <hr />
        <dl class="col">
            <dt class="row">
                @Html.DisplayNameFor(model => model.localModel.HVFornavn)
            </dt>
            <dd class="row">
                @Html.DisplayFor(model => model.localModel.HVEfternavn)
            </dd>
            <dt class="row">
                @Html.DisplayNameFor(model => model.localModel.HVAnsaettelsedato)
            </dt>
            <dd class="row">
                @Html.DisplayFor(model => model.localModel.HVFagomraade)
            </dd>
            <dt class="row">
                @Html.DisplayNameFor(model => model.localModel.HaandvaerkerId)
            </dt>
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.localModel.Vaerktoejskasse.id)
            </dt>*@
        </dl>
    </div>
    <div>
    <a class="btn btn-info" asp-page="/Haandvaerker/Edit" asp-route-id="@Model.localModel.HaandvaerkerId">Edit</a>
    <a class="btn btn-primary" asp-page="/Haandvaerker/Delete" asp-route-id="@Model.localModel.HaandvaerkerId">Delete</a>
    <a asp-page="/Haandvaerker/Index">Back to List</a>
</div>