@page "{id:int}"
@model Frontend_Project.Pages.Haandvaerker.EditModel
@{

}

<div>
    <h1> Ændring af Håndværker</h1>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <form method="post">
                <div class="form-group">

                    <label for="Fornavn" class="control-label">Fornavn</label>

                    <input type="text" asp-for="localModel.HVFornavn" placeholder="@Model.localModel.HVFornavn" />
                </div>
                <div class="form-group">
                    <label for="Efternavn" class="control-label">Efternavn</label>
                    <input type="text" asp-for="localModel.HVEfternavn" placeholder="@Model.localModel.HVEfternavn" />
                </div>
                <div class="form-group">
                    <label for="Ansættelsesdato" class="control-label">Ansættelsesdato</label>
                    <input type="datetime" asp-for="localModel.HVAnsaettelsedato" placeholder="@Model.localModel.HVAnsaettelsedato" />
                </div>
                <div class="form-group">
                    <label for="Fagområde" class="control-label">Fagområde</label>
                    <input type="text" asp-for="localModel.HVFagomraade" placeholder="@Model.localModel.HVFagomraade" />
                </div>
                <div class="form-group">
                    <label for="ID" class="control-label">ID</label>
                    <input type="number" asp-for="localModel.HaandvaerkerId" placeholder="@Model.localModel.HaandvaerkerId" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary shadow">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a class="btn btn-secondary" asp-page="/Haandvaerker/Details" asp-route-id="localModel.HaandvaerkerId">Tilbage</a>
    </div>
</div>