@page "{id:int}"
@model Frontend_Project.Pages.Haandvaerker.EditModel
@{

}

<div>
    <h1> Ændring af Håndværker</h1>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <form method="post">
                <div class="form-group">

                    <label for="Fornavn" class="control-label">Fornavn</label>

                    <input type="text" asp-for="LocalModel.Fornavn" placeholder="@Model.LocalModel.Fornavn" />
                </div>
                <div class="form-group">
                    <label for="Efternavn" class="control-label">Efternavn</label>
                    <input type="text" asp-for="LocalModel.Efternavn" placeholder="@Model.LocalModel.Efternavn" />
                </div>
                <div class="form-group">
                    <label for="Ansættelsesdato" class="control-label">Ansættelsesdato</label>
                    <input type="datetime" asp-for="LocalModel.Ansættelsesdato" placeholder="@Model.LocalModel.Ansættelsesdato" />
                </div>
                <div class="form-group">
                    <label for="Fagområde" class="control-label">Fagområde</label>
                    <input type="text" asp-for="LocalModel.Fagområde" placeholder="@Model.LocalModel.Fagområde" />
                </div>
                <div class="form-group">
                    <label for="ID" class="control-label">ID</label>
                    <input type="number" asp-for="LocalModel.ID" placeholder="@Model.LocalModel.ID" />
                </div>
                <div class="form-group">
                    <label for="vk-ID" class="control-label">Værktøjskasse ID</label>
                    <input type="number" asp-for="LocalModel.Vaerktoejskasse.id" placeholder="@Model.LocalModel.Vaerktoejskasse.id" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary shadow">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a class="btn btn-secondary" asp-page="/Haandvaerker/Details" asp-route-id="LocalModel.ID">Tilbage</a>
    </div>
</div>